{% extends "layout.html" %}
{% load static %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock %}
{% block content %}
<h1>Change password</h1>

<section class="form-section">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
        <div class="form-footer">
            <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a></p>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}{% endblock %}