{% extends "layout.html" %}
{% load static %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock %}
{% block content %}
<h1>Change password done</h1>

<section class="form-section">
    <p>Your password has been changed successfully.</p>
    <div class="form-footer">
        <p><a href="{% url 'profile_detail' user.username %}">Go to my profile!</a></p>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}