{% extends "layout.html" %}
{% load static %}

{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}
{% block canonical %}{% url 'home' %}{% endblock %}
{% block social_url %}{% url 'home' %}{% endblock %}

{% block css %}{% endblock %}
{% block content %}
<h1>Django New Project</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quia fuga obcaecati doloribus explicabo eum, 
    corporis accusamus est libero laborum ut illum distinctio, autem non numquam adipisci. Dolorem, nesciunt voluptates! 
    Fugiat illo asperiores molestiae est quidem. Quae natus ad aut expedita laudantium in officia eius commodi vitae 
    labore, quia rerum quidem iste fugiat ut enim laborum saepe exercitationem quis neque itaque? Fugiat quisquam porro, 
    dolor officiis deleniti facere qui soluta enim nam nostrum consectetur reiciendis nihil ex placeat animi provident 
    similique aut sequi iste veritatis ipsa perspiciatis ullam consequatur? Accusamus voluptate architecto maiores 
    recusandae deleniti enim, ratione inventore non rem.
</p>

<h2>Lorem ipsum dolor sit amet.</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maxime, modi beatae quis molestiae omnis ad 
    reiciendis reprehenderit veniam ex aut officia eaque sunt, nulla dolore eum optio maiores molestias cupiditate. 
    Assumenda enim eos provident quia! Eum nam illo consequatur odit fuga sapiente dolores! Ex repellendus ipsam aut, 
    molestiae nobis ipsa porro itaque laudantium dolores neque earum voluptas est, accusamus placeat quas. Vitae, est 
    voluptate at minus tempore alias ea.
</p>

<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, a?</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptas voluptatibus. Quis maiores labore 
    aperiam recusandae obcaecati reprehenderit totam ipsam culpa repudiandae consequuntur quibusdam molestiae fugiat et 
    accusamus quaerat deleniti enim ipsum consectetur, quia illum incidunt ea aspernatur aut? Corporis in alias voluptate 
    facilis enim iusto fugiat ipsa, blanditiis facere veniam! Alias ad nesciunt recusandae aperiam deleniti officiis illo 
    totam quasi, ab dignissimos quos excepturi, itaque impedit! Quae earum similique, ab temporibus dolorum nesciunt 
    fugiat animi excepturi ratione nemo ut labore dolores, est rerum neque nisi rem incidunt perferendis officia 
    distinctio sapiente a consectetur assumenda. Minus dignissimos ad consequatur eligendi? Accusamus similique impedit 
    debitis officiis sapiente voluptates earum ab odit iste recusandae quisquam, in quam quibusdam itaque, dolorum 
    accusantium laborum. Facilis voluptate aut fuga at repudiandae molestiae officia, id error fugiat eius illum quis 
    laboriosam enim esse? Enim quam sunt, asperiores aliquid ea officia, corrupti odio itaque at exercitationem beatae hic 
    in amet error alias ut eveniet quo. Eaque aut, fuga aspernatur cupiditate et a. Error officiis dolores illum incidunt 
    earum, tempore, odit quaerat reprehenderit qui ullam nostrum aliquam molestiae, quidem voluptatum! Aut, soluta minus 
    recusandae dolorum quia ad ab illo cum ex odio itaque id, reprehenderit ipsa eos explicabo.
</p>

{% endblock %}

{% block js %}{% endblock %}