<!-- for index pages -->
 
{% extends "layout.html" %}
{% load static %}

{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}

{% block css %}{% endblock %}
{% block content %}

{% endblock %}

{% block js %}{% endblock %}

<!-- for no index page -->

{% extends "layout.html" %}
{% load static %}

{% block meta_robots %}noindex, follow{% endblock %}

{% block css %}{% endblock %}
{% block content %}

{% endblock %}

{% block js %}{% endblock %}